{
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "react/no-danger":0,
    "linebreak-style": ["error", "windows"]
  },
  "globals": {
    "window": true,
    "FormData": true,
    "fetch": true
  }
}